* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  border: none;
  outline: none;
}

body {
  background-color: #f5f8ff;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

#search-container {
  margin: 1rem 0;
}

#search-container input {
  width: 40%;
  background: transparent;
  border-bottom: 2px solid #110f29;
  padding: 1rem 0.3rem;
}

#search-container input:focus {
  border-bottom-color: #6759ff;
}

#search-container button {
  background-color: #6759ff;
  color: #ffffff;

  margin-left: 1rem;
  padding: 1rem 2rem;
  margin-top: 0.6rem;

  border-radius: 5px;

  cursor: pointer;
}

#buttons {
  display: flex;
  margin-top: 1rem;
}

#buttons .button-value {
  background-color: transparent;
  color: #6759ff;

  margin: 2px;
  padding: 1rem 2.2rem;

  border: 2px solid #6759ff;
  border-radius: 3rem;

  cursor: pointer;

  transition: all 0.5s ease;
}

#buttons .active {
  background-color: #6759ff;
  color: #f5f8ff;
}

#products {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1.5rem;
  padding: 2rem 0;
}

.card {
  background-color: #ffffff;
  max-width: 18rem;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 1rem 2rem 2.5rem rgba(1, 2, 68, 0.08);
}

.image-container {
  text-align: center;
}

img {
  max-width: 100%;
  object-fit: contain;
  height: 15rem;
}

.container {
  padding-top: 1rem;
  color: #110f29;
}

.container h5 {
  font-weight: 500;
}

.hide {
  display: none;
}

@media screen and (max-width: 720px) {
  img {
    max-width: 100%;
    object-fit: contain;
    height: 10rem;
  }

  .card {
    max-width: 10rem;
    margin-top: 1rem;
  }

  #products {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1rem;
  }
}
